* {
    border: none;
    border-radius: 0;
    font-family: "NotoSansM Nerd Font";
    font-size: 14px;
}
window#waybar {
    background: rgba (35, 38, 52, 0.8);
    color: #FAFAFA;
}
#workspaces button {
    padding: 5px 10px;
    color: #FAFAFA;
}
#workspaces button.active {
    color: #ca9ee6;
}
#clock, #battery, #pulseaudio, #bluetooth, #network, #tray, #power-profiles-daemon {
    padding: 0 10px;
    margin: 0 5px;
}
#battery.critical { color: #e78284; }
#battery.full { color: #ca9ee6; }
#battery.normal { color: #FAFAFA; }

