* {
    border: none;
    border-radius: 0;
    font-family: "NotoSansMNerdFont";
    font-size: 14px;
    font-weight: 600;
}

window#waybar {
    background: rgba (35, 38, 52, 0.0);
    color: #FAFAFA;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0 0px;
    color: #FAFAFA;
}

#workspaces button.active,
#workspaces button.focused {
    color: #ca9ee6;
}

#submap,
#mode {
    padding: 0 15px;
    margin: 0 5px;
    color: #e78284;
}

#tags button {
    padding: 0px 5px;
    margin: 0 0px;
    color: #FAFAFA;
}

#tags button.focused {
    color: #ca9ee6;
}

#clock,
#battery,
#bluetooth,
#network,
#power-profiles-daemon,
#pulseaudio,
#wireplumber,
#inhibitor,
#custom-logout,
#tray {
    padding: 0 7.5px;
    margin: 0 5px;
}

#battery {
    color: #FAFAFA;
}

#battery.charging {
    color: #ca9ee6;
}

#battery.critical:not(.charging) {
    color: #e78284;
}

#workspaces,
#mode,
#submap,
#tray,
#clock,
#hardware {
    border-radius: 10;
    background: rgba (35, 38, 52, 0.8);
    margin: 5px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
}

#clock {
    padding: 0px 20px 0px 20px;
} 
#submap,
#mode {
    color: #FAFAFA;
    background: rgba(231, 130, 132, 0.8);
}