* {
    border: none;
    border-radius: 0;
    font-family: "NotoSansM Nerd Font";
    font-size: 14px;
    font-weight: 600;
}

window#waybar {
    background: rgba (35, 38, 52, 0.4);
    color: #FAFAFA;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0 0px;
    color: #FAFAFA;
}

#workspaces button.active {
    color: #ca9ee6;
}

#submap {
    padding: 0 15px;
    margin: 0 5px;
    color: #e78284;
}

#tags button {
    padding: 0px 5px;
    margin: 0 0px;
    color: #FAFAFA;
}

#tags button.focused {
    color: #ca9ee6;
}

#clock,
#battery,
#bluetooth,
#network,
#power-profiles-daemon,
#pulseaudio,
#wireplumber,
#inhibitor,
#custom-logout,
#tray {
    padding: 0 7.5px;
    margin: 0 5px;
}

#battery {
    color: #FAFAFA;
}

#battery.charging {
    color: #ca9ee6;
}

#battery.critical:not(.charging) {
    color: #e78284;
}