@import url("style.css");

/* Style overrides for sway */

window#waybar {
    background: rgba (35, 38, 52, 0.0);
}

#workspaces,
#submap,
#tray,
#clock,
#hardware
{
border-radius: 10;
background: rgba (35, 38, 52, 0.8);
margin: 5px 10px 0px 10px;
padding: 0px 10px 0px 10px;
}

#clock {
    padding: 0px 20px 0px 20px;
}

/* #workspaces {
    padding: 0px 5px;
} */