name: build-nixos-hosts
on:
  push:
    paths-ignore:
      - '**/*.md'
      - '.github/**'
      - '_img/**'
  workflow_dispatch:
jobs:
  build-fallarbor:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build fallarbor
        run: nix build --accept-flake-config .#nixosConfigurations.fallarbor.config.system.build.toplevel
  build-lavaridge:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build lavaridge
        run: nix build --accept-flake-config .#nixosConfigurations.lavaridge.config.system.build.toplevel
  build-lilycove:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build lilycove
        run: nix build --accept-flake-config .#nixosConfigurations.lilycove.config.system.build.toplevel
  build-mauville:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build mauville
        run: nix build --accept-flake-config .#nixosConfigurations.mauville.config.system.build.toplevel
  build-pacifidlog:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build pacifidlog
        run: nix build --accept-flake-config .#nixosConfigurations.pacifidlog.config.system.build.toplevel
  build-petalburg:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build petalburg
        run: nix build --accept-flake-config .#nixosConfigurations.petalburg.config.system.build.toplevel
  build-rustboro:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build rustboro
        run: nix build --accept-flake-config .#nixosConfigurations.rustboro.config.system.build.toplevel
  build-slateport:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build slateport
        run: nix build --accept-flake-config .#nixosConfigurations.slateport.config.system.build.toplevel
  build-sootopolis:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@main
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@master
        with:
          name: alyraffauf
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build sootopolis
        run: nix build --accept-flake-config .#nixosConfigurations.sootopolis.config.system.build.toplevel
